Data Science PROJECT

BCS-7A

Predicting House Prices in USA based on Real Estate Data

GROUP 3

Faraz Majid 20L-1162

Aemon Fatima 20L-1057

Ahmad Abdullah Dhami 20L-1226

#### Data Collection:
We are going to perform various regression techniques & find the best one for our dataset.

Python Library Imports:

In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.preprocessing import StandardScaler

In [4]:
housePrice = pd.read_csv('./preprocessed.csv')
print(housePrice.shape)
housePrice = housePrice.drop(housePrice.columns[0],axis=1)

housePrice.head()

(5000, 57)

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,...,city_SeaTac,city_Seattle,city_Shoreline,city_Skykomish,city_Snoqualmie,city_Snoqualmie Pass,city_Tukwila,city_Vashon,city_Woodinville,city_Yarrow Point
0,300000.0,3.0,1.50,1590,8911,1.0,0,0,3,1590,...,0,0,0,0,0,0,0,0,0,0
1,734950.0,4.0,3.25,4280,47179,2.0,0,0,3,3050,...,0,0,0,0,0,0,0,0,0,0
2,539000.0,3.0,2.50,1710,2300,2.0,0,0,3,1570,...,0,0,0,0,0,0,0,0,0,0
3,232000.0,3.0,1.50,1460,15000,1.0,0,0,3,1460,...,0,0,0,0,0,0,0,0,0,0
4,600000.0,4.0,2.00,2510,38141,1.0,0,0,3,2510,...,0,0,0,0,0,0,0,0,0,0

Linear Regression

In [5]:
from sklearn.linear_model import LinearRegression

In [6]:
X = housePrice.drop('price', axis=1)
y = housePrice['price']

# Spliting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Standardizing the features using StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Linear Regression Model
linear_model = LinearRegression()
linear_model.fit(X_train_scaled, y_train)

# Predictions
y_pred = linear_model.predict(X_test_scaled)

# Calculating R2 Score, MAE, MSE, RMSE
r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)

print(f'R2 Score: {r2:.4f}')
print(f'MAE: {mae:.4f}')
print(f'MSE: {mse:.4f}')
print(f'RMSE: {rmse:.4f}')

R2 Score: 0.0597
MAE: 147901.5942
MSE: 739410975571.8199
RMSE: 859890.0951

Polynomial Regression

In [ ]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline

In [ ]:
X = housePrice.drop('price', axis=1)
y = housePrice['price']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Polynomial Regression with degree 2 (you can adjust this)
degree = 2
model = make_pipeline(PolynomialFeatures(degree), StandardScaler(), LinearRegression())

# Fit the model
model.fit(X_train, y_train)

# Predictions
y_pred = model.predict(X_test)

# Calculate R2 Score, MAE, MSE, RMSE
r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)

print(f'R2 Score: {r2:.4f}')
print(f'MAE: {mae:.4f}')
print(f'MSE: {mse:.4f}')
print(f'RMSE: {rmse:.4f}')