Data Science PROJECT

BCS-7A

Predicting House Prices in USA based on Real Estate Data

GROUP 3

Faraz Majid 20L-1162

Aemon Fatima 20L-1057

Ahmad Abdullah Dhami 20L-1226

### Data Collection:

In [2]:
import pandas as pd
import numpy as np

In [3]:
housePrice = pd.read_csv('./raw_data.csv')
print(housePrice.shape)
housePrice = housePrice.drop(housePrice.columns[0],axis=1)

housePrice.head()

(5000, 19)

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-06-27 00:00:00,300000.0,3.0,1.50,1590,8911,1.0,0,0,3,1590,0,1956,2001,6615 NE 154th St,Kenmore,WA 98028,USA
1,2014-07-09 00:00:00,734950.0,4.0,3.25,4280,47179,2.0,0,0,3,3050,1230,2002,0,33518 161st Ln SE,Auburn,WA 98092,USA
2,2014-06-04 00:00:00,539000.0,3.0,2.50,1710,2300,2.0,0,0,3,1570,140,2005,0,7874 148th Ct NE,Redmond,WA 98052,USA
3,2014-07-08 00:00:00,232000.0,3.0,1.50,1460,15000,1.0,0,0,3,1460,0,1966,1963,31605-31625 51st Ave S,Auburn,WA 98001,USA
4,2014-05-28 00:00:00,600000.0,4.0,2.00,2510,38141,1.0,0,0,3,2510,0,1960,2012,13507 62nd Ave NE,Kirkland,WA 98034,USA

In [4]:
# Find and count NA values in the DataFrame
na_values = housePrice.isna().sum()

# Print the NA values count
print("NA Values Count:")
print(na_values)

NA Values Count:
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
street           0
city             0
statezip         0
country          0
dtype: int64

In [5]:
"""
    -> we don't need Country as All values are of the same country USA
    -> Date column does not provide any useful information
    -> Street is also unique for every house so it does't effect price 
"""
housePrice = housePrice.drop(['country','date','street','statezip'],axis=1)